@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-gray-300 to-white text-gray-100
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
  border-radius: 14px;
}

